@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F9FAFB;
}

@keyframes scaleFade {
    0% {
        opacity: 0;
        transform: scale(0.94);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-scaleFade {
    animation: scaleFade 0.15s ease-out;
}

.tox.tox-tinymce {
    width: 100% !important;
}